<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles/dashboard.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.10.1/html2pdf.bundle.min.js" integrity="sha512-GsLlZN/3F2ErC5ifS5QtgpiJtWd43JWSuIgh7mbzZ8zBps+dvLusV+eNQATqgA/HdeKFVgA5v3S/cIrLF7QnIg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <title> Dashboard </title>
</head>
<body>

    {% block main %}
    {% endblock %}
    <div class="sidebar">
        <i class="fas fa-times close-sidebar"></i>
        <div class="logo">
            {% block home %}{% endblock %}
        </div>
        <ul>
            <li>{% block dashboard_name %}{% endblock %}</li>
            {% block sidebar %}
            {% endblock %}
        </ul>
    </div>
    <div class="display">
        <i class="fas fa-bars open-sidebar"></i>
        {% block display %}
        {% endblock %}
    </div>
    {% block scripts %}
    {% endblock %}
    <script>
        const openBtn = document.querySelector('.open-sidebar');
        const closeBtn = document.querySelector('.close-sidebar');
        const sidebar = document.querySelector('.sidebar');

        // Open sidebar
        openBtn.addEventListener('click', () => {
            sidebar.classList.add("active");
            openBtn.style.display = "none";
        });

        // Close sidebar
        closeBtn.addEventListener('click', () => {
            sidebar.classList.remove("active");
            openBtn.style.display = "block";
        });
    </script>
</body>
</html>