{% extends "dashboard-layout.html" %}

{% block home %}
    <a href="/employer/dashboard/{{ user_details['id'] }}" class="home">OETMS</a>
{% endblock %}

{% block dashboard_name %}
    <p class="dashboard_name">Employer Dashboard</p>
{% endblock %}

{% block sidebar %}`
<li><a href="#" class="sidebar-links active" data-target="profile">Profile</a></li>
    <li><a href="#" class="sidebar-links" data-target="documents">Documents Status</a></li>
    <li><a href="#" class="sidebar-links" data-target="set-company-details">Set Company Details</a></li>
    <li><a href="#" class="sidebar-links" data-target="company-profile">Company Profile</a></li>
    <!-- <li> <a href="#" class="sidebar-links" data-target="incidents">View Incidents</a></li> -->
<li><a href="/logout">Logout</a></li>
{% endblock %}
{% block display %}
<div id="profile" class="display-container" style="display: block;">
        <!-- Profile content here -->
        <div class="title-box">
            <h2>PROFILE INFORMATION</h2>
        </div>
        <div class="content-box">
            <div class="input-box">
                <label for="username">Username</label>
                <input type="text" id="username" name="username" value="{{ user_details['username']}}" disabled>
            </div>
            <div class="input-box">
                <label for="username">Email</label>
                <input type="email" id="email" name="email" value="{{ user_details['email']}}" disabled>
            </div>
            <div class="input-box">
                <label for="first_name">First Name</label>
                <input type="text" id="first_name" name="first_name" value="{{ user_details['first_name']}}" disabled>
            </div>
            <div class="input-box">
                <label for="last_name">Last Name</label>
                <input type="text" id="last_name" name="last_name" value="{{ user_details['last_name']}}" disabled>
            </div>
        </div>
    </div>
    <div id="documents" class="display-container" style="display: none;">
        <!-- Documents Status content here -->
        <div class="title-box">
            <h2>DOCUMENT STATUS</h2>
        </div>
        <div class="content-box">
            <form class="user-documents-form" action="/upload_document_employers" method="POST" enctype="multipart/form-data">

                <div class="input-box">
                    <label for="document_type">Document Type:</label>
                    <select id="document_type" name="document_type" required>
                        <option value="">Select Document Type</option>
                        <option value="id">NATIONAL ID</option>
                        <option value="tax">TAX CERTIFICATE</option>
                        <option value="work-permit">WORK PERMIT</option>
                        <option value="company-cert">COMPANY/BUSINESS CERTIFICATE</option>
                    </select>
                </div>
                <div class="input-box">
                    <label for="document_file">Upload Document:</label>
                    <input type="file" id="document_file" name="document_file" required>
                </div>
                <button type="submit" class="btn">Upload</button>
            </form>
            <div class="uploaded_documents">
                <h2>Uploaded Documents</h2>
                {% if user_documents %}
                    <ol>
                        {% for document in user_documents %}
                            <li>{{ document["document_name"] }} - 
                                <span class="{{ 'verifiedTrue' if document['verified'] else 'verifiedFalse' }}">
                                    {{ "NOT VERIFIED" if document["verified"] == 0 else "VERIFIED" }}
                                </span>
                            </li>
                        {% endfor %}   
                    </ol>
                {% else %}
                    <p>No documents uploaded yet</p>
                {% endif %}
            </div>
        </div>
    </div>
    
    <!-- Employer Company Details -->
    <div id="set-company-details" class="display-container" style="display: none;">
        <div class="title-box">
            <h2>SET COMPANY DETAILS</h2>
        </div>
        <div class="content-box">
            <form id="company-form" action="/update_company_details" method="POST">
                <div class="input-box">
                    <label for="company_name">Company Name:</label>
                    <input type="text" id="company_name" name="company_name" required>
                </div>
                <div class="input-box">
                    <label for="industry">Industry:</label>
                    <input type="text" id="industry" name="industry" required>
                </div>
                <div class="input-box">
                    <label for="company_size">Company Size:</label>
                    <input type="text" id="company_size" name="company_size" required>
                </div>
                <div class="input-box">
                    <label for="address">Address:</label>
                    <input type="text" id="address" name="address" required>
                </div>
                <div class="input-box">
                    <label for="contact">Contact:</label>
                    <input type="text" id="contact" name="contact" required>
                </div>
                <button type="submit" class="btn">Save</button>
            </form>
        </div>
    </div>
    
        <div id="company-profile" class="display-container" style="display: none;">
            <!-- Employer Details content here -->
            <div class="title-box">
                <h2>COMPANY PROFILE</h2>
            </div>
                <div class="content-box">
                    <div class="input-box">
                        <label for="company_name">COMPANY NAME</label>
                        <input type="text" id="company_name" name="company_name" value="{{ user_details['company']}}" disabled>
                    </div>
                    <div class="input-box">
                        <label for="industry">INDUSTRY</label>
                        <input type="text" id="industry" name="industry" value="{{ user_details['industry']}}" disabled>
                    </div>
                    <div class="input-box">
                        <label for="company_size">COMPANY_SIZE</label>
                        <input type="text" id="company_size" name="company_size" value="{{ user_details['company_size']}}" disabled>
                    </div>
                    <div class="input-box">
                        <label for="company_address">COMPANY ADDRESS</label>
                        <input type="text" id="company_address" name="company_address" value="{{ user_details['address']}}" disabled>
                    </div>
                </div>

        </div>
        
{% endblock %}

{% block scripts %}
<script>
    const sidebarLinks = document.querySelectorAll(".sidebar-links");
    const displaySections = document.querySelectorAll(".display-container");
    
    sidebarLinks.forEach((link) => {
        link.addEventListener('click', () => {
            sidebarLinks.forEach((item) => {
                item.classList.remove("active")
            })

            link.classList.add("active");

            const target = link.getAttribute("data-target");
            displaySections.forEach((section) => {
                if (section.id === target) {
                    section.style.display = "block";
                } else {
                    section.style.display = "none";
                }
            })
        })
    })
</script>
{% endblock %}