<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %} Login</title>
    <link rel="stylesheet" href="../static/styles/nav.css">
    <link rel="stylesheet" href="../static/styles/login.css">
</head>
<body>
    {% include "nav.html" %}
    <div class="container">
        <h1> <span id="user-type">{{ name }}</span> Login</h1>
        <form id="loginform" method="POST">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required>

            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>

            <button type="submit">Login</button>
        </form>
    </div>
    <script>
        function changeFormAction() {
            var userType = document.getElementById("user-type").textContent;
            var form = document.getElementById("loginform");
            if (userType == "Worker") {
                form.action = "/login/worker";
            } else if (userType == "Employer") {
                form.action = "/login/employer";
            }
        }
    </script>
</body>
</html>