* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    width: 100%;
    min-height: 100vh;
    overflow-x: hidden;
}

/* CUSTOM SCROLLBAR */
body::-webkit-scrollbar {
    width: 5px;
}

body::-webkit-scrollbar-track {
    background: goldenrod;
}

body::-webkit-scrollbar-thumb {
    background: wheat;
    border: 1px solid goldenrod;
}

/* HARRASMENT SECTION */
.harassment-notification {
    width: 450px;
    border-radius: 5px;
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    border: 1px solid goldenrod;
    margin: 1rem;
}

.harassment-notification p {
    font-size: 20px;
    font-weight: 700;
    margin: 0 0 1rem;
}

.harassment-notification ul {
    list-style-type: none;
}


#harassment-form .input-box label {
    font-size: 20px;
    font-weight: 700;
    margin: 0.5rem 0;
}

#harassment-form .input-box textarea {
    width: 80%;
    height: 5rem;
    padding: 1rem;
}


.sidebar {
    padding: 1rem;
    position: fixed;
    top: 0;
    width: 250px;
    height: 100%;
    background: #111;
    transition: all 0.5s;

}

.sidebar i {
    font-size: 2rem;
    color: goldenrod;
    position: absolute;
    top: 1rem;
    right: 1rem;
    display: none;
}

.sidebar ul {
    list-style-type: none;
}

.sidebar .logo {
    width: fit-content;
    padding: 0.5rem;
    border-radius: 5px;
    border: 1px solid white;
}

.sidebar .logo a {
    color: white;
    font-size: 1.5rem;
}


.sidebar .dashboard_name {
    color: white;
    font-size: 1.5rem;
    margin: 1rem 0;

}

.sidebar ul li {
    padding: 15px 10px;
    border-bottom: 1px solid #333;
}

.active {
    color: goldenrod !important;
}

.sidebar ul li a {
    color: white;
}

.display {
    width: calc(100vw - 250px);
    min-height: 100vh;
    margin-left: 250px;
}

.display i {
    font-size: 1.5rem;
    color: #fff;
    position: absolute;
    top: 1.7rem;
    right: 1rem;
    display: none;

}

.display .display-container {
    width: 100%;
    min-height: 100vh;
    overflow-x: hidden;
}

.display-container .title-box {
    width: 100%;
    height: 5rem;
    background-color: rgb(198, 151, 31);
    display: flex;
    align-items: center;
    padding: 1rem;
    color: white;
}

.display-container .content-box {
    width: 100%;
    height: 100%;
}

.display-container .content-box .split-view {
    width: 100%;
    height: 80vh;
    display: flex;
}

.display-container .content-box .split-view .left-box {
    width: 50%;
    height: 100%;
    overflow-y: scroll;
    padding: 1rem;
}

.display-container .content-box .split-view .left-box .user-box {
    width: 100%;
    padding: 1rem;
    border-bottom: 1px solid goldenrod;
}

.display-container .content-box .split-view .left-box .user-box p {
    margin: 0.5rem;
}

.display-container .content-box .split-view .left-box .user-box p span {
    color: rgb(232, 174, 59);
}

.display-container .content-box .split-view .left-box .user-box .user-btns {
    width: 100%;
}
.display-container .content-box .split-view .left-box .user-box .user-btns .btn {
    padding: 0.5rem;
}

.display-container .content-box .split-view .left-box .user-box .user-heading {
    display: flex;
    justify-content: space-between;
}

.left-box.incident-view .comment-box{
    width: 100%;
    padding: 1rem;
    border-radius: 5px;
    margin: 1rem 0;
    display: flex;
    justify-content: center;
}

.left-box.incident-view .comment-box textarea {
    width: 80%;
    height: 5rem;
    padding: 1rem;
    border: 1px solid goldenrod;
    border-radius: 5px;
}


.display-container .content-box .split-view hr {
    width: 0.2rem;
    height: 400px;
    background-color: goldenrod;
    margin-top: 1rem;
}


.display-container .content-box .split-view .right-box {
    width: 50%;
    height: 100%;
    padding: 1rem;
}

.display-container .content-box .split-view .right-box .heading {
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid goldenrod;
    padding: 0.5rem;
}

.display-container .content-box .split-view .right-box .row {
    width: 100%;
    display: flex;
    margin: 1rem;
    align-items: center;
}

.display-container .content-box .split-view .right-box .row p {
    margin-left: 1rem;
}

.display-container .content-box .split-view .right-box button {
    position: absolute;
    bottom: 1rem;
    margin: 0;
}

.right-box.individual-document-view {
    width: 100%;
    position: relative;
}

/* MESSGES */
.message-form {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.message-form textarea {
    margin: 1rem;
    padding: 1rem;
    width: 100%;
    height: 10rem;
}

.message {
    padding: 1rem;
    border: 1px solid goldenrod;
    margin: 1rem;
    border-radius: 5px;
}

.admin-message {
    padding: 1rem;
    background-color: goldenrod;
    color: white;
}

.right-box.individual-document-view .btns {
    position: absolute;
    bottom: 1rem;
    width: 200px;
    display: flex;
    justify-content: space-around;
    margin: 1rem;
}

.right-box.individual-document-view .btns .btn {
    position: unset!important;
}

.display-container .content-box .input-box {
    display: flex;
    flex-direction: column;
    margin: 1rem;
}

#profile .content-box .input-box {
    max-width: 400px;
    flex-direction: row;
    justify-content: space-between;
}

#profile .input-box label span {
margin-left: 4rem;
font-style: italic;
font-weight: 800;
font-size: 15px;
}


.input-box label {
    font-size: 20px;
    font-weight: 500;
    margin: 0.5rem 0 0.3rem;
}

.input-box input {
    padding: 0.5rem;
    font-size: 1rem;
    border: 1px solid #333;
    border-radius: 5px;
    margin: 0.3rem 0;
    width: 15rem;
}

.user-documents-form {
    width: 100%;
    height: auto;
}

.user-documents-form .input-box {
    width: 15rem;
}

.user-documents-form .input-box input {
    width: 100%;
}

.user-documents-form select {
    padding: 0.5rem;
    font-size: 1rem;
    
}

.btn {
    margin: 1rem;
    width: 5rem;
    padding: 0.5rem;
    border-radius: 5px;
    background-color: white;
    color: goldenrod;
    border: 1px solid goldenrod;
    cursor: pointer;
}

.btn:hover {
    background-color: goldenrod;
    color: white;
}

/* MIGRANT WORKER DOCUMENTS */
.uploaded_documents {
    width: 100%;
    height: auto;
    justify-content: space-around;
}

.uploaded_documents h2  {
    width: 100%;
    background-color: rgb(198, 151, 31);
    padding: 0.5rem;
    color: white;
}

.uploaded_documents ol {
    padding: 1rem 2rem;
}

.uploaded_documents ol li {
    list-style-type:lower-roman;
    margin: 1rem 0;
    text-decoration: wavy;
    font-weight: 700;
}

.uploaded_documents p {
    padding: 1rem;
    font-size: 20px;
    font-style: oblique;
}

.uploaded_documents .verifiedTrue {
    color: green;
}

.uploaded_documents .verifiedFalse {
    color: red;
}


#employment-form .input-box:nth-child(1) {
    flex-direction: row;
    max-width: 200px;
}

/* HARASSMENT REPORTS */
#incidents .incidents {
    margin: 1rem;
}

.incidents ol li {
    border: 1px solid goldenrod;
    border-radius: 15px;
    padding: 1rem;
    box-sizing: border-box;
    margin: 1rem;
}

.incidents ol li h3 {
    border-bottom: 1px solid goldenrod;
    margin: 0.5rem 0;
    padding: 0.5rem 0;
}

.incidents .incident-header {
    font-weight: 900;
}


/* Mobile Designs */
@media (max-width: 768px) {
    .sidebar {
        transform: translate(-100%);
    }
    .sidebar.active {
        transform: translate(0);
        width: unset;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }

    .sidebar i {
        display: block;
    }

    .display {
        margin: 0;
        width: 100vw;
    }

    .display i {
        display: block;
    }

    .display-container .content-box .split-view {
        flex-direction: column;
    }

    .display-container .content-box .split-view .left-box, .display-container .content-box .split-view .right-box {
        width: 100%;
    }
}