* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    width: 100%;
    min-height: 100vh;
    overflow-x: hidden;
}

/* CUSTOM SCROLLBAR */
body::-webkit-scrollbar {
    width: 5px;
}

body::-webkit-scrollbar-track {
    background: goldenrod;
}

body::-webkit-scrollbar-thumb {
    background: wheat;
    border: 1px solid goldenrod;
}

/* HARRASMENT SECTION */
.harassment-notification {
    width: 450px;
    border-radius: 5px;
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    border: 1px solid goldenrod;
    margin: 1rem;
}

.harassment-notification p {
    font-size: 20px;
    font-weight: 700;
    margin: 0 0 1rem;
}

.harassment-notification ul {
    list-style-type: none;
}


#harassment-form .input-box label {
    font-size: 20px;
    font-weight: 700;
    margin: 0.5rem 0;
}

#harassment-form .input-box textarea {
    width: 80%;
    height: 5rem;
    padding: 1rem;
}


.sidebar {
    padding: 1rem;
    position: fixed;
    top: 0;
    width: 250px;
    height: 100%;
    background: #111;
    transition: all 0.5s;

}

.sidebar ul {
    list-style-type: none;
}

.sidebar .logo {
    width: fit-content;
    padding: 0.5rem;
    border-radius: 5px;
    border: 1px solid white;
}

.sidebar .logo a {
    color: white;
    font-size: 1.5rem;
}


.sidebar .dashboard_name {
    color: white;
    font-size: 1.5rem;
    margin: 1rem 0;

}

.sidebar ul li {
    padding: 15px 10px;
    border-bottom: 1px solid #333;
}

.active {
    color: goldenrod !important;
}

.sidebar ul li a {
    color: white;
}

.display {
    width: calc(100vw - 250px);
    min-height: 100vh;
    margin-left: 250px;
}

.display .display-container {
    width: 100%;
    min-height: 100vh;
    overflow-x: hidden;
}

.display-container .title-box {
    width: 100%;
    height: 5rem;
    background-color: rgb(198, 151, 31);
    display: flex;
    align-items: center;
    padding: 1rem;
    color: white;
}

.display-container .content-box {
    width: 100%;
    height: 100%;
}

.display-container .content-box .input-box {
    display: flex;
    flex-direction: column;
    margin: 1rem;
}

#profile .content-box .input-box {
    max-width: 400px;
    flex-direction: row;
    justify-content: space-between;
}

#profile .input-box label span {
margin-left: 4rem;
font-style: italic;
font-weight: 800;
font-size: 15px;
}


.input-box label {
    font-size: 20px;
    font-weight: 500;
    margin: 0.5rem 0 0.3rem;
}

.input-box input {
    padding: 0.5rem;
    font-size: 1rem;
    border: 1px solid #333;
    border-radius: 5px;
    margin: 0.3rem 0;
    width: 15rem;
}

.user-documents-form {
    width: 100%;
    height: auto;
}

.user-documents-form .input-box {
    width: 15rem;
}

.user-documents-form .input-box input {
    width: 100%;
}

.user-documents-form select {
    padding: 0.5rem;
    font-size: 1rem;
    
}

.btn {
    margin: 1rem;
    width: 5rem;
    padding: 0.5rem;
    border-radius: 5px;
    background-color: white;
    color: goldenrod;
    border: 1px solid goldenrod;
    cursor: pointer;
}

.btn:hover {
    background-color: goldenrod;
    color: white;
}

/* MIGRANT WORKER DOCUMENTS */
#uploaded_documents {
    width: 100%;
    height: auto;
    justify-content: space-around;
}

#uploaded_documents h2  {
    width: 100%;
    background-color: rgb(198, 151, 31);
    padding: 0.5rem;
    color: white;
}

#uploaded_documents ol {
    padding: 1rem 2rem;
}

#uploaded_documents ol li {
    list-style-type:lower-roman;
    margin: 1rem 0;
    text-decoration: wavy;
    font-weight: 700;
}

#uploaded_documents p {
    padding: 1rem;
    font-size: 20px;
    font-style: oblique;
}


#employment-form .input-box:nth-child(1) {
    flex-direction: row;
    max-width: 200px;
}